node-red code/Dashboard.json
[{"id":"8cdd634.a4e04a","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"226a2ab1.2c97f6","type":"http request","z":"8cdd634.a4e04a","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"","x":1130,"y":180,"wires":[["a32141c9.9a336","2fa34cd5.831f54","6bf15097.b2237","d769ee20.2c4b7","73f15af1.c653c4","d9ec70ec.57f","da0534e0.569248","f91bf852.63aa38","263544a4.3d2c0c","9b7cebc.e9b9f18"]]},{"id":"a32141c9.9a336","type":"debug","z":"8cdd634.a4e04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1419.9999618530273,"y":180.00000381469727,"wires":[]},{"id":"413c7816.8f4ef8","type":"change","z":"8cdd634.a4e04a","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":950,"y":180,"wires":[["226a2ab1.2c97f6"]]},{"id":"988e7d5.282ae8","type":"ui_text_input","z":"8cdd634.a4e04a","name":"","label":"Latitude","tooltip":"","group":"add58e7a.c23c2","order":1,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","topicType":"str","x":260,"y":160,"wires":[["3329da33.add126"]]},{"id":"9a87ad6a.d5c9e","type":"ui_text_input","z":"8cdd634.a4e04a","name":"","label":"Longitude","tooltip":"","group":"add58e7a.c23c2","order":2,"width":0,"height":0,"passthru":true,"mode":"number","delay":"0","topic":"","topicType":"str","x":260,"y":200,"wires":[["c89384d3.481958"]]},{"id":"3329da33.add126","type":"function","z":"8cdd634.a4e04a","name":"","func":"let lat=msg.payload\n\nglobal.set(\"latitude\",lat);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":160,"wires":[["d9782888.8f6698"]]},{"id":"52eec538.924a8c","type":"change","z":"8cdd634.a4e04a","name":"","rules":[{"t":"set","p":"lat","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"one","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":128.57142639160156,"y":784.2857303619385,"wires":[[]]},{"id":"52a5a4b2.046bfc","type":"change","z":"8cdd634.a4e04a","name":"","rules":[{"t":"set","p":"lon","pt":"global","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"two","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":128.57142639160156,"y":824.2857303619385,"wires":[[]]},{"id":"1f8be2ed.40d1bd","type":"function","z":"8cdd634.a4e04a","name":"","func":"let var1;\nvar1 =global.get(\"latitude\");\n\nlet var2;\nvar2 =global.get(\"longitude\");\n\nvar var3 = \"http://api.openweathermap.org/data/2.5/air_pollution?lat=\";\n\nvar var4 = var3.concat(var1);\n\nvar var5 = \"&lon=\";\n\nvar var6 = var4.concat(var5);\nvar var7 = var6.concat(var2);\n\nvar var8 = \"&appid=4b73b512b279410b64e3eb930bfb1817\";\n\nvar var9 = var7.concat(var8);\n\n//let url= \"http://api.openweathermap.org/data/2.5/air_pollution?lat=\" + str(var1) + \"&lon=\" + str(var2) + \"&appid=4b73b512b279410b64e3eb930bfb1817\"\n//let url= \"http://api.openweathermap.org/data/2.5/air_pollution?lat=5&lon=80&appid=4b73b512b279410b64e3eb930bfb1817\"\n//let url= \"http://api.openweathermap.org/data/2.5/air_pollution?lat=5&lon=80&appid=4b73b512b279410b64e3eb930bfb1817\"\n\nreturn{\n    payload: var9\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":180,"wires":[["413c7816.8f4ef8"]]},{"id":"d9782888.8f6698","type":"ui_button","z":"8cdd634.a4e04a","name":"","group":"add58e7a.c23c2","order":3,"width":0,"height":0,"passthru":false,"label":"SUBMIT","tooltip":"submit your location","color":"","bgcolor":"","icon":"send","payload":"true","payloadType":"bool","topic":"","topicType":"str","x":580,"y":180,"wires":[["1f8be2ed.40d1bd"]]},{"id":"c89384d3.481958","type":"function","z":"8cdd634.a4e04a","name":"","func":"let lon=msg.payload\n\nglobal.set(\"longitude\",lon);\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["d9782888.8f6698"]]},{"id":"2fa34cd5.831f54","type":"ui_gauge","z":"8cdd634.a4e04a","name":"AIR QUALITY INDEX","group":"29b549df.1b1006","order":3,"width":0,"height":0,"gtype":"gage","title":"AIR QUALITY INDEX","label":" ","format":"{{payload.list[0].main.aqi}}","min":"0","max":"5","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1359.4444885253906,"y":75.55564498901367,"wires":[]},{"id":"6bf15097.b2237","type":"function","z":"8cdd634.a4e04a","name":"","func":"let co = msg.payload.list[0].components.co;\n\nlet co_ppb = (24.45 * co)/28.01;\nlet n = co_ppb.toFixed(2);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":941.6666870117188,"y":398.75000953674316,"wires":[["f66db4ec.1e5988"]]},{"id":"d769ee20.2c4b7","type":"function","z":"8cdd634.a4e04a","name":"","func":"let no = msg.payload.list[0].components.no;\n\nlet no_ppb = (24.45 * no)/30.01;\nlet n = no_ppb.toFixed(2);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":943.75,"y":443.75,"wires":[["cdd3bc70.1605d"]]},{"id":"73f15af1.c653c4","type":"function","z":"8cdd634.a4e04a","name":"","func":"let no2 = msg.payload.list[0].components.no2;\n\nlet no2_ppb = (24.45 * no2)/46.0055;\nlet n = no2_ppb.toFixed(2);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":943.75,"y":493.75,"wires":[["e80f66b.6f45098"]]},{"id":"d9ec70ec.57f","type":"function","z":"8cdd634.a4e04a","name":"","func":"let o3 = msg.payload.list[0].components.o3;\n\nlet o3_ppb = (24.45 * o3)/48 ;\nlet n = o3_ppb.toFixed(2);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":945,"y":533.75,"wires":[["63e25141.ff138"]]},{"id":"da0534e0.569248","type":"function","z":"8cdd634.a4e04a","name":"","func":"let so2 = msg.payload.list[0].components.so2;\n\nlet so2_ppb = (24.45 * so2)/64.07;\nlet n = so2_ppb.toFixed(2);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":945,"y":575,"wires":[["3a92fe83.08cee2"]]},{"id":"f91bf852.63aa38","type":"function","z":"8cdd634.a4e04a","name":"","func":"let nh3 = msg.payload.list[0].components.nh3;\n\nlet nh3_ppb = (24.45 * nh3)/17.031;\nlet n = nh3_ppb.toFixed(4);\nn = parseFloat(n);\nreturn{\n    payload: n\n}\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":940.0000190734863,"y":617.5000138282776,"wires":[["6a8d5091.32add"]]},{"id":"f66db4ec.1e5988","type":"ui_gauge","z":"8cdd634.a4e04a","name":"CO","group":"416f2224.d140fc","order":3,"width":0,"height":0,"gtype":"gage","title":"CO","label":" ","format":"{{payload}}","min":"0","max":"400","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1369.4444580078125,"y":348.75,"wires":[]},{"id":"cdd3bc70.1605d","type":"ui_gauge","z":"8cdd634.a4e04a","name":"NO","group":"7f837c8.5fbad84","order":3,"width":0,"height":0,"gtype":"gage","title":"NO","label":" ","format":"{{payload}}","min":"0","max":"2","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1365.6944580078125,"y":397.5,"wires":[]},{"id":"e80f66b.6f45098","type":"ui_gauge","z":"8cdd634.a4e04a","name":"NO2","group":"c7ec9091.df95b","order":3,"width":0,"height":0,"gtype":"gage","title":"NO2","label":" ","format":"{{payload}}","min":"0","max":"10","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1366.9444580078125,"y":447.5,"wires":[]},{"id":"63e25141.ff138","type":"ui_gauge","z":"8cdd634.a4e04a","name":"O3","group":"615d7fc2.e236d","order":3,"width":0,"height":0,"gtype":"gage","title":"O3","label":" ","format":"{{payload}}","min":"0","max":"100","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1366.9444580078125,"y":496.25,"wires":[]},{"id":"3a92fe83.08cee2","type":"ui_gauge","z":"8cdd634.a4e04a","name":"SO2","group":"6b2cc4dd.076b5c","order":3,"width":0,"height":0,"gtype":"gage","title":"SO2","label":" ","format":"{{payload}}","min":"0","max":"3","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1363.1944875717163,"y":546.2500123977661,"wires":[]},{"id":"6a8d5091.32add","type":"ui_gauge","z":"8cdd634.a4e04a","name":"NH3","group":"7a53bed7.4440f","order":3,"width":0,"height":0,"gtype":"gage","title":"NH3","label":" ","format":"{{payload}}","min":"0","max":"30","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1369.4444885253906,"y":593.7500133514404,"wires":[]},{"id":"263544a4.3d2c0c","type":"ui_gauge","z":"8cdd634.a4e04a","name":"pm 2.5","group":"fe1f1e93.e06ee","order":3,"width":0,"height":0,"gtype":"gage","title":"pm 2.5","label":" ","format":"{{msg.payload.list[0].components.pm2_5}}","min":"0","max":"50","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1366.9444580078125,"y":708.75,"wires":[]},{"id":"9b7cebc.e9b9f18","type":"ui_gauge","z":"8cdd634.a4e04a","name":"pm 10","group":"2af8f848.e70ed8","order":3,"width":0,"height":0,"gtype":"gage","title":"pm 10","label":" ","format":"{{msg.payload.list[0].components.pm10}}","min":"0","max":"150","colors":["#0a990a","#ffff00","#ff0505"],"seg1":"","seg2":"","x":1369.4444580078125,"y":761.25,"wires":[]},{"id":"39888e94.419ed2","type":"Firestore out","z":"8cdd634.a4e04a","name":"","collection":"new","document":"first","operation":"add","admin":"f8abc3bf.0ed2d","eject":true,"x":492.0632209777832,"y":879.9801597595215,"wires":[[]]},{"id":"23945af.efceda6","type":"debug","z":"8cdd634.a4e04a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":2452.420783996582,"y":374.4444398880005,"wires":[]},{"id":"d6a2c31f.65c32","type":"function","z":"8cdd634.a4e04a","name":"","func":"let value=msg.payload\n\nglobal.set(\"val\",value);\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":122.7779655456543,"y":879.4245929718018,"wires":[["793f515a.df24b"]]},{"id":"793f515a.df24b","type":"function","z":"8cdd634.a4e04a","name":"","func":"let n;\n\nn = global.get(\"val\");\n\nmsg.payload={\n    \"value\": n\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":282.3412055969238,"y":879.2857151031494,"wires":[["39888e94.419ed2"]]},{"id":"6eee6a37.9d7284","type":"mqtt in","z":"8cdd634.a4e04a","name":"","topic":"noiseOut","qos":"2","datatype":"auto","broker":"c2fac7f6.f592d8","nl":false,"rap":true,"rh":0,"x":1935.1986083984375,"y":351.64936447143555,"wires":[["76fb5bfc.f49994"]]},{"id":"76fb5bfc.f49994","type":"function","z":"8cdd634.a4e04a","name":"","func":"let n = msg.payload;\nn = 20*Math.log10(n);\nn = n.toFixed(2);\nn = parseFloat(n);\n\nreturn{\n    payload: n //in decibels\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2091.9050903320312,"y":350.37704277038574,"wires":[["567262ff.36cc8c","5c7c52f3.fef69c","23945af.efceda6"]]},{"id":"567262ff.36cc8c","type":"ui_chart","z":"8cdd634.a4e04a","name":"","group":"e0173c69.8b4ea","order":2,"width":20,"height":13,"label":"NOISE PLOT","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":true,"ymin":"0","ymax":"120","removeOlder":"1","removeOlderPoints":"10","removeOlderUnit":"60","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":2451.5277099609375,"y":331.9246549606323,"wires":[[]]},{"id":"5c7c52f3.fef69c","type":"function","z":"8cdd634.a4e04a","name":"","func":"let val = msg.payload;\nvar string = \"WARNING!!! HARMFUL NOISE LEVEL DETECTED.  Please leave the area\"\n\nif (val > 50){\n    \n    return{\n        payload: string\n        \n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":2271.4681549072266,"y":148.71033000946045,"wires":[["d464648c.166468"]]},{"id":"d464648c.166468","type":"ui_toast","z":"8cdd634.a4e04a","position":"top right","displayTime":"1","highlight":"red","sendall":true,"outputs":0,"ok":"OK","cancel":"","raw":false,"topic":"","name":"","x":2511.825653076172,"y":148.35317611694336,"wires":[]},{"id":"add58e7a.c23c2","type":"ui_group","name":"INPUT","tab":"68d629f1.c25c88","order":1,"disp":true,"width":"6","collapse":false},{"id":"29b549df.1b1006","type":"ui_group","name":"AQI","tab":"68d629f1.c25c88","order":2,"disp":true,"width":"6","collapse":true},{"id":"416f2224.d140fc","type":"ui_group","name":"CO IN ppb","tab":"28e9dabe.78a166","order":1,"disp":true,"width":"6","collapse":false},{"id":"7f837c8.5fbad84","type":"ui_group","name":"NO IN ppb","tab":"28e9dabe.78a166","order":2,"disp":true,"width":"6","collapse":false},{"id":"c7ec9091.df95b","type":"ui_group","name":"NO2 IN ppb","tab":"28e9dabe.78a166","order":3,"disp":true,"width":"6","collapse":false},{"id":"615d7fc2.e236d","type":"ui_group","name":"O3 IN ppb","tab":"28e9dabe.78a166","order":4,"disp":true,"width":"6","collapse":false},{"id":"6b2cc4dd.076b5c","type":"ui_group","name":"SO2 IN ppb","tab":"28e9dabe.78a166","order":5,"disp":true,"width":"6","collapse":false},{"id":"7a53bed7.4440f","type":"ui_group","name":"NH3 IN ppb","tab":"28e9dabe.78a166","order":6,"disp":true,"width":"6","collapse":false},{"id":"fe1f1e93.e06ee","type":"ui_group","name":"PM2.5 in ug/m3","tab":"28e9dabe.78a166","order":7,"disp":true,"width":"6","collapse":false},{"id":"2af8f848.e70ed8","type":"ui_group","name":"PM 10 in ug/m3","tab":"28e9dabe.78a166","order":8,"disp":true,"width":"6","collapse":false},{"id":"f8abc3bf.0ed2d","type":"firebase admin","name":"fireStore data"},{"id":"c2fac7f6.f592d8","type":"mqtt-broker","name":"","broker":"test.mosquitto.org/","port":"1883","clientid":"","usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"e0173c69.8b4ea","type":"ui_group","name":"NOISE PLOT","tab":"7215e534.6383bc","order":1,"disp":true,"width":28,"collapse":false},{"id":"68d629f1.c25c88","type":"ui_tab","name":"AIR QUALITY","icon":"dashboard","disabled":false,"hidden":false},{"id":"28e9dabe.78a166","type":"ui_tab","name":"AIR_CONCENTRATIONS","icon":"dashboard","disabled":false,"hidden":false},{"id":"7215e534.6383bc","type":"ui_tab","name":"NOISE METER","icon":"dashboard","disabled":false,"hidden":false}]